name: Build and publish latest
on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder:
          - azure
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup QEmu so we can build multiplatform
        uses: docker/setup-qemu-action@v1
      - name: Login to docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v1
      - name: Docker meta configuration
        uses: docker/metadata-action@v3
        id: meta
        with:
          images: |
            unleashorg/unleash-community-${{ matrix.folder }}
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
      - name: Build tag and push image to Docker hub
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64,linux/arm64
          push: true
          context: platforms/${{ matrix.folder }}
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            NODE_VERSION=16-alpine
